{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Home Listing &ndash; WelcomeHomeAB &ndash; List Your Home for Free</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'global_listing/global-listing-old-ie.css' %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'global_listing/global-listing.css' %}">
        <!--<![endif]-->
</head>
<body>

<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Welcome<br>Home<br>AB</h1>
            <h2 class="brand-tagline">DIY Home <br>Sell & Buy</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'signup' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'login' %}">Log In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all postings -->
            <div class="posts">

                <!--Featured Postings-->
                 
                {% if featured_posts %}

                <h1 class="content-subhead">Featured Home</h1>

                    {% for post in featured_posts %}
                    <section class="post">
                        <header class="post-header">
                            
                            <h3> <a class="post-title" href="{% url 'listing-detail' post.property_id %}"> {{ post.post_title }}</a></h3>

                            <p class="post-meta">
                                {{ post.property_address }} 
                                <a class="post-category post-category-home-type"> {{ post.residence_type }}</a>
                                <a class="post-category post-category-pure">{{ post.above_grade_sqft }}-sqft</a>
                            </p>
                        </header>

                        <div class="post-description">

                            <div class="post-images pure-g">
                                <div class="pure-u-1 pure-u-md-1-2">
                                    <a href="#">
                                        <img alt="pic1"                         
                                            class="pure-img-responsive"
                                            src="
                                                {% for rs in post.image_paths|slice:':1' %}
                                                {{ rs.image.url }}
                                                {% endfor %}
                                            ">
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>
                                        Image 1 {{ post.first_image }}
                                        </h3> <!--TODO: Add image description alt tag-->
                                    </div>
                                </div>

                                <div class="pure-u-1 pure-u-md-1-2">
                                    <a href="#">
                                        <img alt="pic2"
                                            class="pure-img-responsive"
                                            src="
                                                {% for rs in post.image_paths|slice:'1:2' %}
                                                {{ rs.image.url }}
                                                {% endfor %}
                                            "> <!--TODO: Add image link tag-->
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>
                                        Image 2
                                        </h3> <!--TODO: Add image description tag-->
                                    </div>
                                </div>
                            </div>

                            <p>
                                {{ post.description }}
                            </p>
                        </div>
                    </section>
                    {% endfor %}
                {% endif %}

            </div>

            <div class="posts">

                <!--Recent Postings-->
                {% if recent_posts %}
                <h1 class="content-subhead">Recent Postings</h1>

                    {% for post in recent_posts %}
                    <section class="post">
                        <header class="post-header">
                            
                            <h3> <a class="post-title" href="{% url 'listing-detail' post.id %}"> {{ post.post_title }}</a></h3>

                            <p class="post-meta">
                                {{ post.property_address }} 
                                <a class="post-category post-category-home-type">{{ post.residence_type }}</a>
                                <a class="post-category post-category-pure">{{ post.above_grade_sqft }}-sqft</a>
                            </p>
                        </header>

                        <div class="post-description">

                            <div class="post-images pure-g">
                                <div class="pure-u-1 pure-u-md-1-2">
                                    <a href="#">
                                        <img alt="pic1"
                                            class="pure-img-responsive"
                                            src="
                                                {% for rs in post.image_paths|slice:':1' %}
                                                {{ rs.image.url }}
                                                {% endfor %}
                                            ">
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>
                                        Image1
                                        </h3> <!--TODO: Add image description tag-->
                                    </div>
                                </div>

                                <div class="pure-u-1 pure-u-md-1-2">
                                    <a href="#">
                                        <img alt="pic2"
                                            class="pure-img-responsive"
                                            src="
                                                {% for rs in post.image_paths|slice:'1:2' %}
                                                {{ rs.image.url }}
                                                {% endfor %}
                                            "> 
                                    </a>
                                    <div class="post-image-meta">
                                        <h3>
                                        Image2
                                        </h3> <!--TODO: Add image description tag-->
                                    </div>
                                </div>
                            </div>

                            <p>
                                {{ post.description }}
                            </p>
                        </div>
                    </section>

                    {% endfor %}
                {% endif %}

                
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home Buy & Sell Tips</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home Buying Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
