{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">
    <title>Home Listing &ndash; WelcomeHomeAB &ndash; List Your Home for Free</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="{% static 'global_listing/global-listing-old-ie.css' %}">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="{% static 'global_listing/global-listing.css' %}">
        <!--<![endif]-->
</head>
<body>



<div id="layout" class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title">Welcome<br>Home<br>AB</h1>
            <h2 class="brand-tagline">DIY Home <br>Sell & Buy</h2>

            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'global_listing' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="pure-button" href="{% url 'global_listing' %}">Log In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
            <!-- A wrapper for all postings -->
            <div class="posts">
                <h1 class="content-subhead">Featured Home</h1>

                <!-- A single post -->
                <section class="post">
                    <header class="post-header">
                        
                        <h2 class="post-title">Introducing Beautiful Townhouse for a Small Family in Upper East Side</h2>

                        <p class="post-meta">
                            123 QuietPlace Lane <a class="post-category post-category-design" href="#">Townhouse</a> <a class="post-category post-category-pure" href="#">2-bedroom</a>
                        </p>
                    </header>

                    <div class="post-description">

                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic1"
                                         class="pure-img-responsive"
                                         src="https://odis.homeaway.com/odis/listing/83b77586-6d66-4823-b07d-83b29d2c5bf5.c10.jpg">
                                </a>

                                <div class="post-image-meta">
                                    <h3>Family Room</h3>
                                </div>
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic2"
                                         class="pure-img-responsive"
                                         src="https://images.trvl-media.com/hotels/31000000/30100000/30099100/30099092/c196f90f_z.jpg">
                                </a>

                                <div class="post-image-meta">
                                    <h3>Side Walk</h3>
                                </div>
                            </div>
                        </div>
                        
                        <p>
                            This lovely 2 bedroom townhouse is only a few steps away from the Bow River pathway and is nestled 
                            among beautiful garden pathways and minutes to downtown, The University of Calgary, and Foothills Hospital. 
                        </p>
                    </div>
                </section>
            </div>

            <div class="posts">
                <h1 class="content-subhead">Recent Postings</h1>

                <!--Recent Posting 1-->
                <section class="post">
                    <header class="post-header">
                        
                        <h2 class="post-title">A Magical Heritage House for a Large Family</h2>

                        <p class="post-meta">
                            456 HappyHills Place <a class="post-category post-category-js" href="#">House</a>
                        </p>
                    </header>

                    <div class="post-description">

                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic1"
                                         class="pure-img-responsive"
                                         src="https://akns-images.eonline.com/eol_images/Entire_Site/2018924/rs_1024x683-181024103742-1024-2-hill-house-ch-102418.jpg?fit=inside|900:auto&output-quality=90">
                                </a>
                                <div class="post-image-meta">
                                    <h3>Exterior - Front</h3>
                                </div>
                            </div>
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic2"
                                         class="pure-img-responsive"
                                         src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/screen-shot-2018-09-25-at-2-04-05-pm-1537898660.png?crop=0.771xw:0.785xh;0.0994xw,0.0163xh&resize=1200:*">
                                </a>
                                <div class="post-image-meta">
                                    <h3>Exterior - Rear</h3>
                                </div>
                            </div>
                        </div>

                        <p>
                            Updated character Elbow Park bungalow located on a large tree lot. Walking in to this home you 
                            are greeted with loads of light, brilliant refinished hardwood floors, sunroom, updated powder room, 
                            pot lighting, a living dining area open to an updated modern kitchen which includes a huge island, 
                            top of the line Stainless Steele appliances, and beautiful stone counter tops.
                        </p>
                    </div>
                </section>

                <!--Recent Posting 2-->
                <section class="post">
                    <header class="post-header">
                        
                        <h2 class="post-title">A Cool Condo for an Urban Party Legend</h2>

                        <p class="post-meta">
                            789 Playboy Manor <a class="post-category" href="#">Highrise</a>
                        </p>
                    </header>

                    <div class="post-description">

                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic1"
                                         class="pure-img-responsive"
                                         src="http://farm8.staticflickr.com/7448/8915936174_8d54ec76c6.jpg">
                                </a>
                                <div class="post-image-meta">
                                    <h3>Lobby</h3>
                                </div>
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic2"
                                         class="pure-img-responsive"
                                         src="http://farm8.staticflickr.com/7382/8907351301_bd7460cffb.jpg">
                                </a>
                                <div class="post-image-meta">
                                    <h3>View</h3>
                                </div>
                            </div>
                        </div>

                        <p>
                        Located on the beautiful Bow River and within walking distance of Prince's Island Park, 
                        Claire Bow Estates offers exceptional condominium living in Calgary. With the centre of commerce, 
                        downtown shopping, Stephen Avenue and restaurants all located within a few blocks. In winter, 
                        you can enjoy quick access through the downtown via the Plus 15 walkways. This elegant home boasts a 
                        spacious living room with marble gas fireplace, semi divided dining room area, large country style kitchen 
                        with granite counter-tops and an island with an electric cooktop. 
                        </p>
                    </div>
                </section>

                <!--Recent Posting 3-->
                <section class="post">
                    <header class="post-header">
                        
                        <h2 class="post-title">An Affordable Home for Mordern Cost-conscious Living</h2>

                        <p class="post-meta">
                            007 Ghetto Drive <a class="post-category post-category-yui" href="#">Mobile</a>
                        </p>
                    </header>

                    <div class="post-description">

                        <div class="post-images pure-g">
                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic1"
                                         class="pure-img-responsive"
                                         src="https://i.pinimg.com/originals/00/7b/b6/007bb6a195f4b0d82a095be18b7c59c7.jpg">
                                </a>
                                <div class="post-image-meta">
                                    <h3>Front</h3>
                                </div>
                            </div>

                            <div class="pure-u-1 pure-u-md-1-2">
                                <a href="#">
                                    <img alt="pic2"
                                         class="pure-img-responsive"
                                         src="https://abandonedbatonrouge.typepad.com/.a/6a00e54ee90d2488340120a5a845a2970b-pi">
                                </a>
                                <div class="post-image-meta">
                                    <h3>Rear</h3>
                                </div>
                            </div>
                        </div>

                        <p>
                            Your chance to own a home at an economical price! Located on one of the largest parcels in the complex so there is plenty of parking, a good-sized deck and fenced yard space.
                        </p>
                    </div>
                </section>
            </div>

            <div class="footer">
                <div class="pure-menu pure-menu-horizontal">
                    <ul>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">About Us</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home Buy & Sell Tips</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Home Buying Services</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




</body>
</html>
