{% extends 'base.html' %}

{% block title %}
    <title>About Us</title>
{% endblock title %}


{% block content %}
    <div>
        <div>
            <h1>
                About Us
            </h1>
            <p>
                The process of buying and selling a home can be tedious. This gets more complicated and expensive
                with the use of realtors who offer services that, although necessary, are not specialized enough to add
                the value that their fees suggest. The real advantage of using a realtor is having access to the market
                inventory and the real estate network.
            </p>

            <p>
                The WelcomeHomeAB project aims to alleviate this problem and open up the home inventory to the
                public. This website plans to make home buying a breeze by offering an easy to use website where
                home sellers can list their homes. The website will also offer services relating to the sale of a home
                such as: staging, photos, cleaning, inspection and condo document review. The motivation behind
                this project is to make the process of home buying easy and accessible and reduce the associated
                costs.
            </p>
        </div>
     </div>

{% endblock content %}