{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Tips</title>
{% endblock title %}


{% block content %}
    <div>
        <div>
            <h1>
                Buying and Selling your home by yourself
            </h1>
            <h3>
                Process to sell your home yourself:
            </h3>
            <ol>
                <li>Price Your Home to Sell</li>
                <li>Obtain a Flat Fee Listing on the MLS</li>
                <li>Market Your Property</li>
                <li>Hold an Open House</li>
                <li>Know Your Property’s Selling Points</li>
                <li>Prepare to Show Your House</li>
                <li>Show Your House</li>
                <li>Perform Your Own Negotiations</li>
                <li>Comply with All Laws in Your Area</li>
            </ol>

            <p>
                Taken from: https://www.moneycrashers.com/tips-sell-house-by-owner-without-realtor/
            </p>
        </div>
     </div>

{% endblock content %}